{% extends 'static.html' %}
{% block body %}
<br>
<title>Party Code Web App</title>
<html>
    <body>
        <div class="container">
            <p>
                <p><h1>The Party Flyer's Web App is your new go to app
                for party's. Here, You will register as a user
            then post a party whenever you are having a a party.
        This is just the beginning. We are working on the
        endless possible features for this app. Thank you so much for
            using the Party Flyer's Web App to promote your premier parties.</h1></p>
            <p>
        <h1>To begin, just register, create a profile and start posting for
        your next party.</h1>
            <p><h1>
            Thanks and enjoy the Party Code Web App!
        </h1>
            </p>
        </div>
    </body>
</html>

{% endblock %}
